integraMobile.ExternalWS/Service References/MadridPlatform/PublisherService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.parkaregroup.com/PublisherService/M.1.3" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.parkaregroup.com/PublisherService/M.1.3" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.parkaregroup.com/PublisherService/M.1.3/Imports">
      <xsd:import schemaLocation="http://ser-web.madmovilidad.es/PublisherService/PublisherService.svc?xsd=xsd0" namespace="http://www.parkaregroup.com/PublisherService/1.0" />
      <xsd:import schemaLocation="http://ser-web.madmovilidad.es/PublisherService/PublisherService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://ser-web.madmovilidad.es/PublisherService/PublisherService.svc?xsd=xsd2" namespace="http://www.parkaregroup.com/PublisherService/1.2" />
      <xsd:import schemaLocation="http://ser-web.madmovilidad.es/PublisherService/PublisherService.svc?xsd=xsd3" namespace="http://www.parkaregroup.com/PublisherService/1.1" />
      <xsd:import schemaLocation="http://ser-web.madmovilidad.es/PublisherService/PublisherService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://ser-web.madmovilidad.es/PublisherService/PublisherService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/PublisherService.TempoVigilancia.Contracts.Objects" />
      <xsd:import schemaLocation="http://ser-web.madmovilidad.es/PublisherService/PublisherService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Parkare.PD" />
      <xsd:import schemaLocation="http://ser-web.madmovilidad.es/PublisherService/PublisherService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/PublisherService.PayTransaction.Contracts.PayTransactionAuth" />
      <xsd:import schemaLocation="http://ser-web.madmovilidad.es/PublisherService/PublisherService.svc?xsd=xsd8" namespace="http://www.parkaregroup.com/PublisherService/M.1.3" />
      <xsd:import schemaLocation="http://ser-web.madmovilidad.es/PublisherService/PublisherService.svc?xsd=xsd9" namespace="http://www.parkaregroup.com/PublisherService/1.3" />
      <xsd:import schemaLocation="http://ser-web.madmovilidad.es/PublisherService/PublisherService.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/PublisherService.TempoVigilancia.Contracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPublishServiceM13_GetTransactionInfoPD_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactionInfoPD" />
  </wsdl:message>
  <wsdl:message name="IPublishServiceM13_GetTransactionInfoPD_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactionInfoPDResponse" />
  </wsdl:message>
  <wsdl:message name="IPublishServiceM13_GetTransactionInfoMB_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactionInfoMB" />
  </wsdl:message>
  <wsdl:message name="IPublishServiceM13_GetTransactionInfoMB_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactionInfoMBResponse" />
  </wsdl:message>
  <wsdl:message name="IPublishServiceM13_UpdateTrafficFinePhotos_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTrafficFinePhotos" />
  </wsdl:message>
  <wsdl:message name="IPublishServiceM13_UpdateTrafficFinePhotos_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTrafficFinePhotosResponse" />
  </wsdl:message>
  <wsdl:message name="IPublishServiceM13_DeleteTrafficFinePhotos_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTrafficFinePhotos" />
  </wsdl:message>
  <wsdl:message name="IPublishServiceM13_DeleteTrafficFinePhotos_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTrafficFinePhotosResponse" />
  </wsdl:message>
  <wsdl:message name="IPublishServiceM13_GetTrafficFinePhotos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTrafficFinePhotos" />
  </wsdl:message>
  <wsdl:message name="IPublishServiceM13_GetTrafficFinePhotos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTrafficFinePhotosResponse" />
  </wsdl:message>
  <wsdl:portType name="IPublishServiceM13">
    <wsdl:operation name="startSession">
      <wsdl:documentation>&lt;summary&gt;
            Start session operation (login)
            &lt;/summary&gt;
            &lt;param name="userName"&gt;User name&lt;/param&gt;
            &lt;param name="password"&gt;User plain password&lt;/param&gt;
            &lt;param name="language"&gt;Localization language in responses (only en, es and fr supported).&lt;/param&gt;
            &lt;returns&gt;Session object to be supplied on any subsequent communication
            &lt;see cref="T:AuthLoginResponse" /&gt;
            &lt;/returns&gt;</wsdl:documentation>
      <wsdl:input xmlns:q1="http://www.parkaregroup.com/PublisherService/1.2" wsaw:Action="http://www.parkaregroup.com/PublisherService/1.0/IAuthService/startSession" message="q1:IPublishServiceV12_startSession_InputMessage" />
      <wsdl:output xmlns:q2="http://www.parkaregroup.com/PublisherService/1.2" wsaw:Action="http://www.parkaregroup.com/PublisherService/1.0/IAuthService/startSessionResponse" message="q2:IPublishServiceV12_startSession_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="endSession">
      <wsdl:documentation>&lt;summary&gt;
            End session operation (logout)
            &lt;/summary&gt;
            &lt;param name="authSession"&gt;Session object as supplied in the startSession call.
            &lt;see cref="T:AuthSession" /&gt;
            &lt;/param&gt;
            &lt;returns&gt;OK if session successfully ended&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input xmlns:q3="http://www.parkaregroup.com/PublisherService/1.2" wsaw:Action="http://www.parkaregroup.com/PublisherService/1.0/IAuthService/endSession" message="q3:IPublishServiceV12_endSession_InputMessage" />
      <wsdl:output xmlns:q4="http://www.parkaregroup.com/PublisherService/1.2" wsaw:Action="http://www.parkaregroup.com/PublisherService/1.0/IAuthService/endSessionResponse" message="q4:IPublishServiceV12_endSession_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHistAvailableSelection">
      <wsdl:documentation>&lt;summary&gt;
             Returns a list with the system, geographical zones, cities and PD machines
             available, according to the user credentials.
             &lt;see cref="T:TransactionService.HistAvailableSelection" /&gt;
             &lt;/summary&gt;
             &lt;param name="authSession"&gt;Session object as supplied in the startSession call.
             &lt;see cref="T:Authentication.Contracts.AuthSession" /&gt;
             &lt;/param&gt;
             &lt;returns&gt;Returns a list with the system, geographical zones, cities and PD machines
             &lt;see cref="T:TransactionService.HistAvailableSelectionResponse" /&gt;
            &lt;/returns&gt;</wsdl:documentation>
      <wsdl:input xmlns:q5="http://www.parkaregroup.com/PublisherService/1.2" wsaw:Action="http://www.parkaregroup.com/PublisherService/1.0/IHistTransactionService/GetHistAvailableSelection" message="q5:IPublishServiceV12_GetHistAvailableSelection_InputMessage" />
      <wsdl:output xmlns:q6="http://www.parkaregroup.com/PublisherService/1.2" wsaw:Action="http://www.parkaregroup.com/PublisherService/1.0/IHistTransactionService/GetHistAvailableSelectionResponse" message="q6:IPublishServiceV12_GetHistAvailableSelection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHistTransaction">
      <wsdl:documentation>&lt;summary&gt;
             Returns a list with the processed transactions according to the provided selection and include criteria
             &lt;see cref="T:TransactionService.HistTransaction" /&gt;
             &lt;/summary&gt;
             &lt;param name="authSession"&gt;Session object as supplied in the startSession call.
             &lt;see cref="T:Authentication.Contracts.AuthSession" /&gt;
             &lt;/param&gt;
             &lt;param name="histSelector"&gt;Selection object delimiting the filtering criteria: dates, geographical zone, city or PD machine
             &lt;see cref="T:TransactionService.HistTransactionFilter" /&gt;
             &lt;/param&gt;
             &lt;param name="histInclude"&gt;Include options: card transaction details (when card transactions present)
             &lt;/param&gt;
             &lt;returns&gt;Returns a list with the processed transactions, localized for system, geographical zone, city and PD machine
             &lt;see cref="T:TransactionService.HistTransactionResponse" /&gt;
            &lt;/returns&gt;</wsdl:documentation>
      <wsdl:input xmlns:q7="http://www.parkaregroup.com/PublisherService/1.2" wsaw:Action="http://www.parkaregroup.com/PublisherService/1.0/IHistTransactionService/GetHistTransaction" message="q7:IPublishServiceV12_GetHistTransaction_InputMessage" />
      <wsdl:output xmlns:q8="http://www.parkaregroup.com/PublisherService/1.2" wsaw:Action="http://www.parkaregroup.com/PublisherService/1.0/IHistTransactionService/GetHistTransactionResponse" message="q8:IPublishServiceV12_GetHistTransaction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHistDefTransactionType">
      <wsdl:documentation>&lt;summary&gt;
            Returns a list with all the supported transaction types,
            localized according to the language provided in the startSession call.
            &lt;see cref="T:HistDef.HistDefTransactionType" /&gt; 
            &lt;/summary&gt;
            &lt;param name="authSession"&gt;Session object as supplied in the startSession call.
            &lt;see cref="T:Authentication.Contracts.AuthSession" /&gt;
            &lt;/param&gt;
            &lt;returns&gt;Returns a list with all the supported transaction types
            &lt;see cref="T:TransactionService.HistDefTransactionTypeResponse" /&gt;
            &lt;/returns&gt;</wsdl:documentation>
      <wsdl:input xmlns:q9="http://www.parkaregroup.com/PublisherService/1.2" wsaw:Action="http://www.parkaregroup.com/PublisherService/1.0/IHistTransactionService/GetHistDefTransactionType" message="q9:IPublishServiceV12_GetHistDefTransactionType_InputMessage" />
      <wsdl:output xmlns:q10="http://www.parkaregroup.com/PublisherService/1.2" wsaw:Action="http://www.parkaregroup.com/PublisherService/1.0/IHistTransactionService/GetHistDefTransactionTypeResponse" message="q10:IPublishServiceV12_GetHistDefTransactionType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHistDefTransactionCardType">
      <wsdl:documentation>&lt;summary&gt;
            Returns a list with all the supported card types (used in transaction operations)
            &lt;see cref="T:HistDef.HistDefTransactionCardType" /&gt;
            &lt;/summary&gt;
            &lt;param name="authSession"&gt;Session object as supplied in the startSession call.
            &lt;see cref="T:Authentication.Contracts.AuthSession" /&gt;
            &lt;/param&gt;
            &lt;returns&gt;Returns a list with all the supported card types (used in transaction operations)
            &lt;see cref="T:TransactionService.HistDefTransactionCardTypeResponse" /&gt;
            &lt;/returns&gt;</wsdl:documentation>
      <wsdl:input xmlns:q11="http://www.parkaregroup.com/PublisherService/1.2" wsaw:Action="http://www.parkaregroup.com/PublisherService/1.0/IHistTransactionService/GetHistDefTransactionCardType" message="q11:IPublishServiceV12_GetHistDefTransactionCardType_InputMessage" />
      <wsdl:output xmlns:q12="http://www.parkaregroup.com/PublisherService/1.2" wsaw:Action="http://www.parkaregroup.com/PublisherService/1.0/IHistTransactionService/GetHistDefTransactionCardTypeResponse" message="q12:IPublishServiceV12_GetHistDefTransactionCardType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHistCollection">
      <wsdl:documentation>&lt;summary&gt;
             Returns a list of the processed collection according to the provided selection and include criteria
             &lt;see cref="T:CollectionService.HistCollection" /&gt;
             &lt;/summary&gt;
             &lt;param name="authSession"&gt;Session object as supplied in the startSession call.
             &lt;see cref="T:Authentication.Contracts.AuthSession" /&gt;
             &lt;/param&gt;
             &lt;param name="histSelector"&gt;Selection object delimiting the filtering criteria: dates, geographical zone, city or PD machine
             &lt;see cref="T:CollectionService.HistCollectionFilter" /&gt;
             &lt;/param&gt;
             &lt;param name="histInclude"&gt;Include options: transaction, tariff and coin details
             &lt;see cref="T:HistInclude.HistIncludeCollection" /&gt;
             &lt;/param&gt;
             &lt;returns&gt;Returns a list with the processed collection, localized for system, geographical zone, city and PD machine
             &lt;see cref="T:CollectionService.HistCollectionResponse" /&gt;
            &lt;/returns&gt;</wsdl:documentation>
      <wsdl:input xmlns:q13="http://www.parkaregroup.com/PublisherService/1.2" wsaw:Action="http://www.parkaregroup.com/PublisherService/1.0/IHistCollectionService/GetHistCollection" message="q13:IPublishServiceV12_GetHistCollection_InputMessage" />
      <wsdl:output xmlns:q14="http://www.parkaregroup.com/PublisherService/1.2" wsaw:Action="http://www.parkaregroup.com/PublisherService/1.0/IHistCollectionService/GetHistCollectionResponse" message="q14:IPublishServiceV12_GetHistCollection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHistDefCollectionCoinType">
      <wsdl:documentation>&lt;summary&gt;
            Returns a list with all the supported coin types (used in collection operations).
            &lt;see cref="T:HistDef.HistDefCollectionCoinType" /&gt;
            &lt;seealso cref="T:CollectionService.HistCollection" /&gt;
            &lt;/summary&gt;
            &lt;param name="authSession"&gt;Session object as supplied in the startSession call.
            &lt;see cref="T:Authentication.Contracts.AuthSession" /&gt;
            &lt;/param&gt;
            &lt;returns&gt;Returns a list with all the supported coin types (used in collection operations).
            &lt;see cref="T:CollectionService.HistDefCollectionCoinTypeResponse" /&gt;
            &lt;/returns&gt;</wsdl:documentation>
      <wsdl:input xmlns:q15="http://www.parkaregroup.com/PublisherService/1.2" wsaw:Action="http://www.parkaregroup.com/PublisherService/1.0/IHistCollectionService/GetHistDefCollectionCoinType" message="q15:IPublishServiceV12_GetHistDefCollectionCoinType_InputMessage" />
      <wsdl:output xmlns:q16="http://www.parkaregroup.com/PublisherService/1.2" wsaw:Action="http://www.parkaregroup.com/PublisherService/1.0/IHistCollectionService/GetHistDefCollectionCoinTypeResponse" message="q16:IPublishServiceV12_GetHistDefCollectionCoinType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EntityFilter_GetAvailableSelection">
      <wsdl:documentation>&lt;summary&gt;
             Returns configuration structure tree
             &lt;/summary&gt;
             &lt;param name="authSession"&gt;Session object as supplied in the startSession call.
             &lt;see cref="T:Authentication.Contracts.AuthSession" /&gt;
             &lt;/param&gt;
             &lt;returns&gt;Returns a object tree with available selectable entities.
             &lt;see cref="T:TempoSituacion.Contracts.Responses.ValCodeStatResponse" /&gt;
            &lt;/returns&gt;</wsdl:documentation>
      <wsdl:input xmlns:q17="http://www.parkaregroup.com/PublisherService/1.2" wsaw:Action="http://www.parkaregroup.com/PublisherService/1.0/IEntityFilter/EntityFilter_GetAvailableSelection" message="q17:IPublishServiceV12_EntityFilter_GetAvailableSelection_InputMessage" />
      <wsdl:output xmlns:q18="http://www.parkaregroup.com/PublisherService/1.2" wsaw:Action="http://www.parkaregroup.com/PublisherService/1.0/IEntityFilter/EntityFilter_GetAvailableSelectionResponse" message="q18:IPublishServiceV12_EntityFilter_GetAvailableSelection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInitialValCodeStat">
      <wsdl:documentation>&lt;summary&gt;
             Returns a list of code status according to the provided selection and include criteria
             &lt;see cref="T:Historico.Contracts.CollectionService.HistCollection" /&gt;
             &lt;/summary&gt;
             &lt;param name="authSession"&gt;Session object as supplied in the startSession call.
             &lt;see cref="T:Authentication.Contracts.AuthSession" /&gt;
             &lt;/param&gt;
             &lt;param name="Selector"&gt;Selection object delimiting the filtering criteria: dates, geographical zone, physical zone, city or PD machine
             &lt;see cref="T:EntityFilter.Contracts.Filter.EntityFilterBase" /&gt;
             &lt;/param&gt;
             &lt;returns&gt;Returns a list with the code status, localized for system, geographical zone, physical zone, city and PD machine
             &lt;see cref="T:Responses.ValCodeStatResponse" /&gt;
            &lt;/returns&gt;</wsdl:documentation>
      <wsdl:input xmlns:q19="http://www.parkaregroup.com/PublisherService/1.2" wsaw:Action="http://www.parkaregroup.com/PublisherService/1.1/IValCodeService/GetInitialValCodeStat" message="q19:IPublishServiceV12_GetInitialValCodeStat_InputMessage" />
      <wsdl:output xmlns:q20="http://www.parkaregroup.com/PublisherService/1.2" wsaw:Action="http://www.parkaregroup.com/PublisherService/1.1/IValCodeService/GetInitialValCodeStatResponse" message="q20:IPublishServiceV12_GetInitialValCodeStat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUpdateValCodeStat">
      <wsdl:documentation>&lt;summary&gt;
             Returns a list of code status according to the provided selection and include criteria
             &lt;see cref="T:Historico.Contracts.CollectionService.HistCollection" /&gt;
             &lt;/summary&gt;
             &lt;param name="authSession"&gt;Session object as supplied in the startSession call.
             &lt;see cref="T:Authentication.Contracts.AuthSession" /&gt;
             &lt;/param&gt;
             &lt;param name="Selector"&gt;Selection object delimiting the filtering criteria: dates, geographical zone, city or PD machine
             &lt;see cref="T:EntityFilter.Contracts.Filter.EntityFilterBase" /&gt;
             &lt;/param&gt;
             &lt;returns&gt;Returns a list with the code status, localized for system, geographical zone, physical zone, city and PD machine
             &lt;see cref="T:Responses.ValCodeStatResponse" /&gt;
            &lt;/returns&gt;</wsdl:documentation>
      <wsdl:input xmlns:q21="http://www.parkaregroup.com/PublisherService/1.2" wsaw:Action="http://www.parkaregroup.com/PublisherService/1.1/IValCodeService/GetUpdateValCodeStat" message="q21:IPublishServiceV12_GetUpdateValCodeStat_InputMessage" />
      <wsdl:output xmlns:q22="http://www.parkaregroup.com/PublisherService/1.2" wsaw:Action="http://www.parkaregroup.com/PublisherService/1.1/IValCodeService/GetUpdateValCodeStatResponse" message="q22:IPublishServiceV12_GetUpdateValCodeStat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetValCodeHist">
      <wsdl:documentation>&lt;summary&gt;
             Returns a list of code status according to the provided selection and include criteria
             &lt;see cref="T:Historico.Contracts.CollectionService.HistCollection" /&gt;
             &lt;/summary&gt;
             &lt;param name="authSession"&gt;Session object as supplied in the startSession call.
             &lt;see cref="T:Authentication.Contracts.AuthSession" /&gt;
             &lt;/param&gt;
             &lt;param name="Selector"&gt;Selection object delimiting the filtering criteria: dates, geographical zone, city or PD machine
             &lt;see cref="T:EntityFilter.Contracts.Filter.EntityFilterBase" /&gt;
             &lt;/param&gt;
             &lt;returns&gt;Returns a list with the code status, localized for system, geographical zone, physical zone, city and PD machine
             &lt;see cref="T:Responses.ValCodeStatResponse" /&gt;
            &lt;/returns&gt;</wsdl:documentation>
      <wsdl:input xmlns:q23="http://www.parkaregroup.com/PublisherService/1.2" wsaw:Action="http://www.parkaregroup.com/PublisherService/1.1/IValCodeService/GetValCodeHist" message="q23:IPublishServiceV12_GetValCodeHist_InputMessage" />
      <wsdl:output xmlns:q24="http://www.parkaregroup.com/PublisherService/1.2" wsaw:Action="http://www.parkaregroup.com/PublisherService/1.1/IValCodeService/GetValCodeHistResponse" message="q24:IPublishServiceV12_GetValCodeHist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlateValCodeStat">
      <wsdl:documentation>&lt;summary&gt;
             Validate plate parking rights and status
             &lt;see cref="T:Historico.Contracts.CollectionService.HistCollection" /&gt;
             &lt;/summary&gt;
             &lt;param name="authSession"&gt;Session object as supplied in the startSession call.
             &lt;see cref="T:Authentication.Contracts.AuthSession" /&gt;
             &lt;/param&gt;
             &lt;param name="Selector"&gt;Selection object delimiting the filtering criteria: dates, geographical zone, city or PD machine
             &lt;see cref="T:EntityFilter.Contracts.Filter.EntityFilterBase" /&gt;
             &lt;/param&gt;
             &lt;param name="Plate"&gt;Plate delimiting the filtering criteria
             &lt;/param&gt;
             &lt;returns&gt;Returns a list with the code status, localized for system, geographical zone, physical zone, city and PD machine
             &lt;see cref="T:Responses.ValCodeStatResponse" /&gt;
            &lt;/returns&gt;</wsdl:documentation>
      <wsdl:input xmlns:q25="http://www.parkaregroup.com/PublisherService/1.2" wsaw:Action="http://www.parkaregroup.com/PublisherService/1.1/IValCodeService/GetPlateValCodeStat" message="q25:IPublishServiceV12_GetPlateValCodeStat_InputMessage" />
      <wsdl:output xmlns:q26="http://www.parkaregroup.com/PublisherService/1.2" wsaw:Action="http://www.parkaregroup.com/PublisherService/1.1/IValCodeService/GetPlateValCodeStatResponse" message="q26:IPublishServiceV12_GetPlateValCodeStat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRightsList">
      <wsdl:documentation>&lt;summary&gt;
            Get current Rights list.
            &lt;/summary&gt;
            &lt;param name="authSession"&gt;Session object as supplied in the startSession call.
            &lt;see cref="T:Authentication.Contracts.AuthSession" /&gt;
            &lt;/param&gt;</wsdl:documentation>
      <wsdl:input xmlns:q27="http://www.parkaregroup.com/PublisherService/1.2" wsaw:Action="http://www.parkaregroup.com/PublisherService/1.1/IValCodeService/GetRightsList" message="q27:IPublishServiceV12_GetRightsList_InputMessage" />
      <wsdl:output xmlns:q28="http://www.parkaregroup.com/PublisherService/1.2" wsaw:Action="http://www.parkaregroup.com/PublisherService/1.1/IValCodeService/GetRightsListResponse" message="q28:IPublishServiceV12_GetRightsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRightsListUpdate">
      <wsdl:documentation>&lt;summary&gt;
            Get Rights list changes from ..
            &lt;/summary&gt;
            &lt;param name="authSession"&gt;Session object as supplied in the startSession call.
            &lt;see cref="T:Authentication.Contracts.AuthSession" /&gt;
            &lt;/param&gt;</wsdl:documentation>
      <wsdl:input xmlns:q29="http://www.parkaregroup.com/PublisherService/1.2" wsaw:Action="http://www.parkaregroup.com/PublisherService/1.1/IValCodeService/GetRightsListUpdate" message="q29:IPublishServiceV12_GetRightsListUpdate_InputMessage" />
      <wsdl:output xmlns:q30="http://www.parkaregroup.com/PublisherService/1.2" wsaw:Action="http://www.parkaregroup.com/PublisherService/1.1/IValCodeService/GetRightsListUpdateResponse" message="q30:IPublishServiceV12_GetRightsListUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRightsListFromParams">
      <wsdl:documentation>&lt;summary&gt;
            Get Rights list changes from ID
            &lt;/summary&gt;
            &lt;param name="authSession"&gt;Session object as supplied in the startSession call.
            &lt;see cref="T:Authentication.Contracts.AuthSession" /&gt;
            &lt;/param&gt;</wsdl:documentation>
      <wsdl:input xmlns:q31="http://www.parkaregroup.com/PublisherService/1.2" wsaw:Action="http://www.parkaregroup.com/PublisherService/1.1/IValCodeService/GetRightsListFromParams" message="q31:IPublishServiceV12_GetRightsListFromParams_InputMessage" />
      <wsdl:output xmlns:q32="http://www.parkaregroup.com/PublisherService/1.2" wsaw:Action="http://www.parkaregroup.com/PublisherService/1.1/IValCodeService/GetRightsListFromParamsResponse" message="q32:IPublishServiceV12_GetRightsListFromParams_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRightsMovementsById">
      <wsdl:documentation>&lt;summary&gt;
            Get Rights list changes from ID
            &lt;/summary&gt;
            &lt;param name="authSession"&gt;Session object as supplied in the startSession call.
            &lt;see cref="T:Authentication.Contracts.AuthSession" /&gt;
            &lt;/param&gt;</wsdl:documentation>
      <wsdl:input xmlns:q33="http://www.parkaregroup.com/PublisherService/1.2" wsaw:Action="http://www.parkaregroup.com/PublisherService/1.1/IValCodeService/GetRightsMovementsById" message="q33:IPublishServiceV12_GetRightsMovementsById_InputMessage" />
      <wsdl:output xmlns:q34="http://www.parkaregroup.com/PublisherService/1.2" wsaw:Action="http://www.parkaregroup.com/PublisherService/1.1/IValCodeService/GetRightsMovementsByIdResponse" message="q34:IPublishServiceV12_GetRightsMovementsById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTfnValidInfractions">
      <wsdl:input xmlns:q35="http://www.parkaregroup.com/PublisherService/1.2" wsaw:Action="http://www.parkaregroup.com/PublisherService/1.2/ITrafficFineService/GetTfnValidInfractions" message="q35:IPublishServiceV12_GetTfnValidInfractions_InputMessage" />
      <wsdl:output xmlns:q36="http://www.parkaregroup.com/PublisherService/1.2" wsaw:Action="http://www.parkaregroup.com/PublisherService/1.2/ITrafficFineService/GetTfnValidInfractionsResponse" message="q36:IPublishServiceV12_GetTfnValidInfractions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTfnValidInvalidations">
      <wsdl:documentation>&lt;summary&gt;
            Recieve valid invalidation causes 
            &lt;/summary&gt;
            &lt;param name="authSession"&gt;&lt;/param&gt;
            &lt;param name="city"&gt;&lt;/param&gt;
            &lt;returns&gt;&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input xmlns:q37="http://www.parkaregroup.com/PublisherService/1.2" wsaw:Action="http://www.parkaregroup.com/PublisherService/1.2/ITrafficFineService/GetTfnValidInvalidations" message="q37:IPublishServiceV12_GetTfnValidInvalidations_InputMessage" />
      <wsdl:output xmlns:q38="http://www.parkaregroup.com/PublisherService/1.2" wsaw:Action="http://www.parkaregroup.com/PublisherService/1.2/ITrafficFineService/GetTfnValidInvalidationsResponse" message="q38:IPublishServiceV12_GetTfnValidInvalidations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetTfnNew">
      <wsdl:input xmlns:q39="http://www.parkaregroup.com/PublisherService/1.2" wsaw:Action="http://www.parkaregroup.com/PublisherService/1.2/ITrafficFineService/SetTfnNew" message="q39:IPublishServiceV12_SetTfnNew_InputMessage" />
      <wsdl:output xmlns:q40="http://www.parkaregroup.com/PublisherService/1.2" wsaw:Action="http://www.parkaregroup.com/PublisherService/1.2/ITrafficFineService/SetTfnNewResponse" message="q40:IPublishServiceV12_SetTfnNew_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetTfnInvalidation">
      <wsdl:documentation>&lt;summary&gt;
            Invalidate a Traffic fine.
            &lt;/summary&gt;
            &lt;param name="authSession"&gt;&lt;/param&gt;
            &lt;param name="trafficFine"&gt;&lt;/param&gt;
            &lt;returns&gt;&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input xmlns:q41="http://www.parkaregroup.com/PublisherService/1.2" wsaw:Action="http://www.parkaregroup.com/PublisherService/1.2/ITrafficFineService/SetTfnInvalidation" message="q41:IPublishServiceV12_SetTfnInvalidation_InputMessage" />
      <wsdl:output xmlns:q42="http://www.parkaregroup.com/PublisherService/1.2" wsaw:Action="http://www.parkaregroup.com/PublisherService/1.2/ITrafficFineService/SetTfnInvalidationResponse" message="q42:IPublishServiceV12_SetTfnInvalidation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetTfnUndoInvalidation">
      <wsdl:documentation>&lt;summary&gt;
            DesInvalidate a Traffic fine.
            &lt;/summary&gt;
            &lt;param name="authSession"&gt;&lt;/param&gt;
            &lt;param name="trafficFine"&gt;&lt;/param&gt;
            &lt;returns&gt;&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input xmlns:q43="http://www.parkaregroup.com/PublisherService/1.2" wsaw:Action="http://www.parkaregroup.com/PublisherService/1.2/ITrafficFineService/SetTfnUndoInvalidation" message="q43:IPublishServiceV12_SetTfnUndoInvalidation_InputMessage" />
      <wsdl:output xmlns:q44="http://www.parkaregroup.com/PublisherService/1.2" wsaw:Action="http://www.parkaregroup.com/PublisherService/1.2/ITrafficFineService/SetTfnUndoInvalidationResponse" message="q44:IPublishServiceV12_SetTfnUndoInvalidation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTfnWithXML">
      <wsdl:documentation>&lt;summary&gt;
            DesInvalidate a Traffic fine.
            &lt;/summary&gt;
            &lt;param name="authSession"&gt;&lt;/param&gt;
            &lt;param name="trafficFine"&gt;&lt;/param&gt;
            &lt;returns&gt;&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input xmlns:q45="http://www.parkaregroup.com/PublisherService/1.2" wsaw:Action="http://www.parkaregroup.com/PublisherService/1.2/ITrafficFineService/UpdateTfnWithXML" message="q45:IPublishServiceV12_UpdateTfnWithXML_InputMessage" />
      <wsdl:output xmlns:q46="http://www.parkaregroup.com/PublisherService/1.2" wsaw:Action="http://www.parkaregroup.com/PublisherService/1.2/ITrafficFineService/UpdateTfnWithXMLResponse" message="q46:IPublishServiceV12_UpdateTfnWithXML_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTfn">
      <wsdl:documentation>&lt;summary&gt;
             Returns a list of trafficfine according to the provided selection and include criteria.
             &lt;see cref="T:Historico.Contracts.CollectionService.HistCollection" /&gt;
             &lt;/summary&gt;
             &lt;param name="authSession"&gt;Session object as supplied in the startSession call.
             &lt;see cref="T:Authentication.Contracts.AuthSession" /&gt;
             &lt;/param&gt;
             &lt;param name="Selector"&gt;Selection object delimiting the filtering criteria: dates, geographical zone, city or PD machine
             &lt;see cref="T:EntityFilter.Contracts.Filter.EntityFilterBase" /&gt;
             &lt;/param&gt;
             &lt;returns&gt;Returns a list with the code status, localized for system, geographical zone,and city 
             &lt;see cref="T:Contracts.Responses.TrafficFineResponse" /&gt;
            &lt;/returns&gt;</wsdl:documentation>
      <wsdl:input xmlns:q47="http://www.parkaregroup.com/PublisherService/1.2" wsaw:Action="http://www.parkaregroup.com/PublisherService/1.2/ITrafficFineService/GetTfn" message="q47:IPublishServiceV12_GetTfn_InputMessage" />
      <wsdl:output xmlns:q48="http://www.parkaregroup.com/PublisherService/1.2" wsaw:Action="http://www.parkaregroup.com/PublisherService/1.2/ITrafficFineService/GetTfnResponse" message="q48:IPublishServiceV12_GetTfn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTfn">
      <wsdl:documentation>&lt;summary&gt;
             Returns a list of trafficfine according to the provided selection and include criteria
             &lt;see cref="T:Historico.Contracts.CollectionService.HistCollection" /&gt;
             &lt;/summary&gt;
             &lt;param name="authSession"&gt;Session object as supplied in the startSession call.
             &lt;see cref="T:Authentication.Contracts.AuthSession" /&gt;
             &lt;/param&gt;
             &lt;param name="Selector"&gt;Selection object delimiting the filtering criteria: dates, geographical zone, city or PD machine
             &lt;see cref="T:EntityFilter.Contracts.Filter.EntityFilterBase" /&gt;
             &lt;/param&gt;
             &lt;returns&gt;Returns a list with the code status, localized for system, geographical zone,and city 
             &lt;see cref="T:Contracts.Responses.TrafficFineResponse" /&gt;
            &lt;/returns&gt;</wsdl:documentation>
      <wsdl:input xmlns:q49="http://www.parkaregroup.com/PublisherService/1.2" wsaw:Action="http://www.parkaregroup.com/PublisherService/1.2/ITrafficFineService/GetAllTfn" message="q49:IPublishServiceV12_GetAllTfn_InputMessage" />
      <wsdl:output xmlns:q50="http://www.parkaregroup.com/PublisherService/1.2" wsaw:Action="http://www.parkaregroup.com/PublisherService/1.2/ITrafficFineService/GetAllTfnResponse" message="q50:IPublishServiceV12_GetAllTfn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTfnAnulations">
      <wsdl:documentation>&lt;summary&gt;
            Receive Anulations by Id 
            &lt;/summary&gt;
            &lt;param name="authSession"&gt;&lt;/param&gt;
            &lt;returns&gt;&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input xmlns:q51="http://www.parkaregroup.com/PublisherService/1.2" wsaw:Action="http://www.parkaregroup.com/PublisherService/1.2/ITrafficFineService/GetTfnAnulations" message="q51:IPublishServiceV12_GetTfnAnulations_InputMessage" />
      <wsdl:output xmlns:q52="http://www.parkaregroup.com/PublisherService/1.2" wsaw:Action="http://www.parkaregroup.com/PublisherService/1.2/ITrafficFineService/GetTfnAnulationsResponse" message="q52:IPublishServiceV12_GetTfnAnulations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTfnInvalidations">
      <wsdl:documentation>&lt;summary&gt;
            Receive Invalidations by Id 
            &lt;/summary&gt;
            &lt;param name="authSession"&gt;&lt;/param&gt;
            &lt;returns&gt;&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input xmlns:q53="http://www.parkaregroup.com/PublisherService/1.2" wsaw:Action="http://www.parkaregroup.com/PublisherService/1.2/ITrafficFineService/GetTfnInvalidations" message="q53:IPublishServiceV12_GetTfnInvalidations_InputMessage" />
      <wsdl:output xmlns:q54="http://www.parkaregroup.com/PublisherService/1.2" wsaw:Action="http://www.parkaregroup.com/PublisherService/1.2/ITrafficFineService/GetTfnInvalidationsResponse" message="q54:IPublishServiceV12_GetTfnInvalidations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTfnAllDay">
      <wsdl:documentation>&lt;summary&gt;
            Get all trafficfine by day and idbatches
            &lt;/summary&gt;
            &lt;param name="authSession"&gt;&lt;/param&gt;
            &lt;returns&gt;&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input xmlns:q55="http://www.parkaregroup.com/PublisherService/1.2" wsaw:Action="http://www.parkaregroup.com/PublisherService/1.2/ITrafficFineService/GetTfnAllDay" message="q55:IPublishServiceV12_GetTfnAllDay_InputMessage" />
      <wsdl:output xmlns:q56="http://www.parkaregroup.com/PublisherService/1.2" wsaw:Action="http://www.parkaregroup.com/PublisherService/1.2/ITrafficFineService/GetTfnAllDayResponse" message="q56:IPublishServiceV12_GetTfnAllDay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetParkingAuthorization">
      <wsdl:documentation>&lt;summary&gt;
            Get Parking right authorization 
            &lt;/summary&gt;
            &lt;param name="authSession"&gt;&lt;/param&gt;
            &lt;param name="request"&gt;&lt;/param&gt;
            &lt;returns&gt;&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input xmlns:q57="http://www.parkaregroup.com/PublisherService/1.2" wsaw:Action="http://www.parkaregroup.com/PublisherService/1.2/IPayTransactionService/GetParkingAuthorization" message="q57:IPublishServiceV12_GetParkingAuthorization_InputMessage" />
      <wsdl:output xmlns:q58="http://www.parkaregroup.com/PublisherService/1.2" wsaw:Action="http://www.parkaregroup.com/PublisherService/1.2/IPayTransactionService/GetParkingAuthorizationResponse" message="q58:IPublishServiceV12_GetParkingAuthorization_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFineAnullationAuthorization">
      <wsdl:documentation>&lt;summary&gt;
            Get Fine Anullation authorization
            &lt;/summary&gt;
            &lt;param name="authSession"&gt;&lt;/param&gt;
            &lt;param name="request"&gt;&lt;/param&gt;
            &lt;returns&gt;&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input xmlns:q59="http://www.parkaregroup.com/PublisherService/1.2" wsaw:Action="http://www.parkaregroup.com/PublisherService/1.2/IPayTransactionService/GetFineAnullationAuthorization" message="q59:IPublishServiceV12_GetFineAnullationAuthorization_InputMessage" />
      <wsdl:output xmlns:q60="http://www.parkaregroup.com/PublisherService/1.2" wsaw:Action="http://www.parkaregroup.com/PublisherService/1.2/IPayTransactionService/GetFineAnullationAuthorizationResponse" message="q60:IPublishServiceV12_GetFineAnullationAuthorization_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetParkingTransaction">
      <wsdl:input xmlns:q61="http://www.parkaregroup.com/PublisherService/1.2" wsaw:Action="http://www.parkaregroup.com/PublisherService/1.2/IPayTransactionService/SetParkingTransaction" message="q61:IPublishServiceV12_SetParkingTransaction_InputMessage" />
      <wsdl:output xmlns:q62="http://www.parkaregroup.com/PublisherService/1.2" wsaw:Action="http://www.parkaregroup.com/PublisherService/1.2/IPayTransactionService/SetParkingTransactionResponse" message="q62:IPublishServiceV12_SetParkingTransaction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetFineAnullationTransaction">
      <wsdl:input xmlns:q63="http://www.parkaregroup.com/PublisherService/1.2" wsaw:Action="http://www.parkaregroup.com/PublisherService/1.2/IPayTransactionService/SetFineAnullationTransaction" message="q63:IPublishServiceV12_SetFineAnullationTransaction_InputMessage" />
      <wsdl:output xmlns:q64="http://www.parkaregroup.com/PublisherService/1.2" wsaw:Action="http://www.parkaregroup.com/PublisherService/1.2/IPayTransactionService/SetFineAnullationTransactionResponse" message="q64:IPublishServiceV12_SetFineAnullationTransaction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetParkingOccupancy">
      <wsdl:input xmlns:q65="http://www.parkaregroup.com/PublisherService/1.2" wsaw:Action="http://www.parkaregroup.com/PublisherService/1.2/IPayTransactionService/GetParkingOccupancy" message="q65:IPublishServiceV12_GetParkingOccupancy_InputMessage" />
      <wsdl:output xmlns:q66="http://www.parkaregroup.com/PublisherService/1.2" wsaw:Action="http://www.parkaregroup.com/PublisherService/1.2/IPayTransactionService/GetParkingOccupancyResponse" message="q66:IPublishServiceV12_GetParkingOccupancy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTariffCongestion">
      <wsdl:input xmlns:q67="http://www.parkaregroup.com/PublisherService/1.2" wsaw:Action="http://www.parkaregroup.com/PublisherService/1.2/IPayTransactionService/GetTariffCongestion" message="q67:IPublishServiceV12_GetTariffCongestion_InputMessage" />
      <wsdl:output xmlns:q68="http://www.parkaregroup.com/PublisherService/1.2" wsaw:Action="http://www.parkaregroup.com/PublisherService/1.2/IPayTransactionService/GetTariffCongestionResponse" message="q68:IPublishServiceV12_GetTariffCongestion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentAlarm">
      <wsdl:input xmlns:q69="http://www.parkaregroup.com/PublisherService/1.2" wsaw:Action="http://www.parkaregroup.com/PublisherService/1.2/IAlarmService/GetCurrentAlarm" message="q69:IPublishServiceV12_GetCurrentAlarm_InputMessage" />
      <wsdl:output xmlns:q70="http://www.parkaregroup.com/PublisherService/1.2" wsaw:Action="http://www.parkaregroup.com/PublisherService/1.2/IAlarmService/GetCurrentAlarmResponse" message="q70:IPublishServiceV12_GetCurrentAlarm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTransactionInfoPD">
      <wsdl:documentation>&lt;summary&gt;
             Returns a list of stored transactions originated at PD, from a provided Id in a paged manner
             &lt;/summary&gt;
             &lt;param name="authSession"&gt;Session object as supplied in the startSession call.
             &lt;see cref="T:Authentication.Contracts.AuthSession" /&gt;
             &lt;/param&gt;
             &lt;param name="Selector"&gt;Selection object delimiting the filtering criteria: unique id origin
             &lt;see cref="T:EntityFilter.Contracts.Filter.EntityFilterBase" /&gt;
             &lt;/param&gt;
             &lt;returns&gt;Returns a list with the code status, localized for system, geographical zone, physical zone, city and PD machine
             &lt;see cref="T:Responses.ValCodeStatResponse" /&gt;
            &lt;/returns&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.parkaregroup.com/PublisherService/M.1.3/IValCodeTransactionInfoService/GetTransactionInfoPD" message="tns:IPublishServiceM13_GetTransactionInfoPD_InputMessage" />
      <wsdl:output wsaw:Action="http://www.parkaregroup.com/PublisherService/M.1.3/IValCodeTransactionInfoService/GetTransactionInfoPDResponse" message="tns:IPublishServiceM13_GetTransactionInfoPD_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTransactionInfoMB">
      <wsdl:documentation>&lt;summary&gt;
             Returns a list of stored transactions originated at mobile provider, from a provided Id in a paged manner
             &lt;/summary&gt;
             &lt;param name="authSession"&gt;Session object as supplied in the startSession call.
             &lt;see cref="T:Authentication.Contracts.AuthSession" /&gt;
             &lt;/param&gt;
             &lt;param name="Selector"&gt;Selection object delimiting the filtering criteria: unique id origin
             &lt;see cref="T:EntityFilter.Contracts.Filter.EntityFilterBase" /&gt;
             &lt;/param&gt;
             &lt;returns&gt;Returns a list with the code status, localized for system, geographical zone, physical zone, city and PD machine
             &lt;see cref="T:Responses.ValCodeStatResponse" /&gt;
            &lt;/returns&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.parkaregroup.com/PublisherService/M.1.3/IValCodeTransactionInfoService/GetTransactionInfoMB" message="tns:IPublishServiceM13_GetTransactionInfoMB_InputMessage" />
      <wsdl:output wsaw:Action="http://www.parkaregroup.com/PublisherService/M.1.3/IValCodeTransactionInfoService/GetTransactionInfoMBResponse" message="tns:IPublishServiceM13_GetTransactionInfoMB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTrafficFinePhotos">
      <wsdl:input wsaw:Action="http://www.parkaregroup.com/PublisherService/M.1.3/IPhotosService/UpdateTrafficFinePhotos" message="tns:IPublishServiceM13_UpdateTrafficFinePhotos_InputMessage" />
      <wsdl:output wsaw:Action="http://www.parkaregroup.com/PublisherService/M.1.3/IPhotosService/UpdateTrafficFinePhotosResponse" message="tns:IPublishServiceM13_UpdateTrafficFinePhotos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTrafficFinePhotos">
      <wsdl:input wsaw:Action="http://www.parkaregroup.com/PublisherService/M.1.3/IPhotosService/DeleteTrafficFinePhotos" message="tns:IPublishServiceM13_DeleteTrafficFinePhotos_InputMessage" />
      <wsdl:output wsaw:Action="http://www.parkaregroup.com/PublisherService/M.1.3/IPhotosService/DeleteTrafficFinePhotosResponse" message="tns:IPublishServiceM13_DeleteTrafficFinePhotos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTrafficFinePhotos">
      <wsdl:input wsaw:Action="http://www.parkaregroup.com/PublisherService/M.1.3/IPhotosService/GetTrafficFinePhotos" message="tns:IPublishServiceM13_GetTrafficFinePhotos_InputMessage" />
      <wsdl:output wsaw:Action="http://www.parkaregroup.com/PublisherService/M.1.3/IPhotosService/GetTrafficFinePhotosResponse" message="tns:IPublishServiceM13_GetTrafficFinePhotos_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>